<div class="global" id="contacto">
  <div class="background-image"></div>
  <div class="background-filter">
    <h4 class="texto">¡Contáctame!</h4>
    <h1 class="titulo">Get in touch</h1>
    <h4 class="texto-dos">Cualquier duda o solicitud no dudes en escribirme</h4>

    <div class="iconos">
      <button class="individual">
        <a href="https://api.whatsapp.com/send?phone=+5492615268659&text=Hola!"><i class="bi bi-whatsapp"></i></a>
      </button>

      <button class="individual">
        <a href="mailto:tivirolifranco@gmail.com"><i class="bi bi-envelope"></i></a>
      
        </button>
    </div>
  </div>
</div>
