<form
  (ngSubmit)="onUpdate()"
  novalidate
  #f="ngForm"
  class="x vh-100"
  style="background-color: #7c76a5"
>
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-xl-9">
        <h1 class="text-white mb-4">Experiencia Laboral</h1>
        <div class="card" style="border-radius: 15px">
          <div class="card-body">
            <div class="row align-items-center pt-4 pb-3">
              <div class="form-group col-md-3 ps-5">
                <h6 class="mb-0">
                  <label for="nombreE">Nombre del trabajo</label>
                </h6>
              </div>
              <div class="col-md-9 pe-5">
                <input
                  type="text"
                  class="nombreE"
                  id="nombreE"
                  name="nombreE"
                  [(ngModel)]="expLab.nombreE"
                  name="nombreE"
                  required
                />
              </div>
            </div>

            <hr class="mx-n3" />
            <div class="row align-items-center pt-4 pb-3">
              <div class="form-group col-md-3 ps-5">
                <h6 class="mb-0">
                  <label for="duracionE">Período de tiempo</label>
                </h6>
              </div>

              <div class="col-md-9 pe-5">
                <input
                  type="text"
                  class="form-control"
                  id="duracionE"
                  name="duracionE"
                  [(ngModel)]="expLab.duracionE"
                  name="duracionE"
                  required
                />
              </div>
            </div>

            <hr class="mx-n3" />
            <div class="row align-items-center py-3">
              <div class="form-group col-md-3 ps-5">
                <h6 class="mb-0">
                  <label for="descripcionE">Descripción del trabajo</label>
                </h6>
              </div>

              <div class="col-md-9 pe-5">
                <textarea
                  class="form-control"
                  rows="3"
                  id="descripcionE"
                  name="descripcionE"
                  [(ngModel)]="expLab.descripcionE"
                  name="descripcionE"
                  required
                ></textarea>
              </div>
            </div>

            <hr class="mx-n3" />
            <div class="row align-items-center pt-4 pb-3">
              <div class="form-group col-md-3 ps-5">
                <h6 class="mb-0">
                  <label for="imgExp">Link imagen</label>
                </h6>
              </div>

              <div class="col-md-9 pe-5">
                <input
                  type="text"
                  class="form-control"
                  id="imgExp"
                  name="imgExp"
                  [(ngModel)]="expLab.imgExp"
                  name="imgExp"
                  required
                />
              </div>
            </div>

            <hr class="mx-n3" />
            <div class="px-5 py-4">
              <button type="submit" class="btn btn-primary btn-lg">
                Modificar
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
