<div class="gradiente">
  <div class="experiencia-container global-container">
    
    <div class="titulo-container">

      <h1 class="titulo">Experiencia laboral</h1>
      <div>
        <button type="submit" class="botonAgregar btn btn-success" routerLink="/nuevaexp" *ngIf="isLogged ">
          <i class="bi bi-plus-circle"></i>
          Agregar
        </button>
      </div>
    </div>
  
  <div  class="job-container">
    <div class="job" *ngFor="let Experiencia of expe">

      <div>
        <img src="{{Experiencia.imgExp}}" class="job-img" />
      </div>
      
      <div>
        <div class="nombre-container">
          <div>
            <h3 class="first-job-name">{{ Experiencia.nombreE }}</h3> 
            <h3 class="first-job-duration">{{Experiencia.duracionE}}</h3>
          </div>
        <div class="botones-container">

            <button *ngIf="isLogged" type="submit" class="botones btn btn-primary" routerLink="/editexp/{{Experiencia.id}}"> 
              <i class="bi bi-pen"></i> 
            </button> 

            <button *ngIf="isLogged" type="submit" class="botones btn btn-danger" (click)="delete(Experiencia.id)">
              <i class="bi bi-x-circle"></i> 
            </button> 

        </div>
        </div>
        

        <h3 class="first-job-description">{{ Experiencia.descripcionE }}</h3>
    </div>
    </div>
  </div>
</div>
</div>
