
.gradiente{
   
    background: rgb(80,93,136);

}

.education-global-container{
    
    padding-top: 7rem;
    padding-bottom: 5rem;
    
}

.titulo {
    font-size: 80px;
    font-weight: 600;
    font-family: 'Ubuntu', sans-serif;
    display:inline;
}

.titulo-container{
    display: flex;
    align-items: center;
    gap: 3em;
}

.edu-container{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding-top: 3rem;
}

.edu:hover{
    box-shadow: 0px 0px 1px 1px white;
    transition: 0.5s;
    border-radius: 50px;
}

.edu{
    display: flex;
    gap: 1.5rem;
    align-items: center;
    font-size: xx-small;
    padding: 1rem;
}

.edu-image{
    border-radius:50%;
    
    width: 180px;
    height: 180px;
}

.nombre-container{
    display: flex;
    justify-content: space-between;
}


.edu-name {

    font-family: 'Ubuntu', sans-serif;
    font-weight: 800;
    display:inline;

}

.edu-duration {

    font-family: 'Ubuntu', sans-serif;
    font-weight: 800;
    margin-bottom: 2em;
    
}

.edu-description{
    
    font-weight: 350;
    font-family: 'Ubuntu', sans-serif;
    text-align: justify;
    margin: 0;
    font-size: 1.2rem;
}

.botonAgregar{
    font-weight: 300;
    font-family: 'Ubuntu', sans-serif;
    display:inline; 

} 


.botones{
    font-weight: 300;
    font-family: 'Ubuntu', sans-serif;
    display:inline; 
    border-radius: 80rem;
    margin-left: 10px;
    margin-bottom: 0.5rem;

}

.botones-container{
    display: flex;
    flex-direction: row;
    display: inline-block;
}


@media only screen and (max-width: 940px) {
    .titulo{
        font-size: 60px;
    }

}

@media only screen and (max-width: 740px) {
    .titulo-container{
        flex-direction: column;
        gap: 1rem;
        text-align: center;
    }

    .edu-duration{
        
        margin-top: 1rem;
    }

}

@media only screen and (max-width: 555px) {
    .nombre-container{
        display: flex;
        flex-direction: column;
        gap: 0.3rem;
        text-align: center;
    }

    .edu-duration{
        margin-bottom: 0;
        margin-top: 1rem;
    }

    .edu-description{
        margin-top: 1rem;
    }

    .edu{
        flex-direction: column;
    }
}

@media only screen and (max-width: 325px) {
    .titulo{
        font-size: 50px;
    }

}
