.projects-global-container {

    padding-top: 7rem;
    padding-bottom: 7rem;

}

.titulo {
    font-size: 80px;
    font-weight: 600;
    font-family: 'Ubuntu', sans-serif;
    display: inline;
    color:  #505d88
}

.titulo-container {
    display: flex;
    align-items: center;
    gap: 3em;
}


.nombre {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 800;
    display: inline;
    margin-bottom: 63px;
    color:  #505d88

}

.texto {
    font-weight: 300;
    font-family: 'Ubuntu', sans-serif;
    text-align: justify;
    margin: 0%;
    color:  #505d88
}

.gradiente{
    
    background: rgb(212, 215, 224);
    background: linear-gradient(180deg, rgb(195, 200, 215)  1%, rgb(242, 243, 244) 90%);



}

.img-proyecto {


    box-shadow: 0 0 0 3px #1e1e1e;
    box-shadow: 10px 10px 5px rgb(255, 255, 255);
    height: 9em;
    width: 342px;
    border-radius: 30px;

}



.botonAgregar {
    font-weight: 300;
    font-family: 'Ubuntu', sans-serif;
    display: inline;


}


.botones {
    font-weight: 300;
    font-family: 'Ubuntu', sans-serif;
    display: inline;
    border-radius: 80rem;
    margin-left: 10px;
    margin-bottom: 0.5rem;

}

.botones-container {
    display: flex;
    flex-direction: row;
    display: inline-block;
}

.projects-container {
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
    padding-top: 3rem;
}

.projects {
    display: flex;
    gap: 3.5rem;
    align-items: center;
}

.nombre-container {
    display: flex;
    justify-content: space-between;
    gap: 5rem;
}

@media only screen and (max-width: 940px) {
    .titulo {
        font-size: 60px;
    }

}

@media only screen and (max-width: 740px) {
    .titulo-container {
        flex-direction: column;
        gap: 1rem;
        text-align: center;
    }
    .nombre{
        margin-bottom: 13px;
    }


    .nombre-container {
        display: flex;
        flex-direction: column;
        gap: 0.3rem;
        text-align: center;
    }

    .texto {
        margin-top: 0.5rem;
    }

    .projects {
        flex-direction: column;
        gap: 1.5rem;
    }

    .img-proyecto{
        max-width: 100%;
    }
}


