<form
  (ngSubmit)="onCreate()"
  novalidate
  #f="ngForm"
  class="x vh-100"
  style="background-color: #7c76a5"
>
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-xl-9">
        <h1 class="text-white mb-4">Agregar banner</h1>
        <div class="card" style="border-radius: 15px">
          <div class="card-body">
            <div class="row align-items-center pt-4 pb-3">
              <div class="form-group col-md-3 ps-5">
                <h6 class="mb-0">
                  <label for="nombreBanner">Frase cabecera</label>
                </h6>
              </div>
              <div class="col-md-9 pe-5">
                <input
                  type="text"
                  class="form-control"
                  id="nombreBanner"
                  name="nombreBanner"
                  [(ngModel)]="nombreBanner"
                  name="nombreBanner"
                  required
                />
              </div>
            </div>

            <hr class="mx-n3" />
            <div class="row align-items-center pt-4 pb-3">
              <div class="form-group col-md-3 ps-5">
                <h6 class="mb-0">
                  <label for="ubicacionBanner">Frase secundaria</label>
                </h6>
              </div>

              <div class="col-md-9 pe-5">
                <input
                  type="text"
                  class="form-control"
                  id="ubicacionBanner"
                  name="ubicacionBanner"
                  [(ngModel)]="ubicacionBanner"
                  name="tituloP"
                  required
                />
              </div>
            </div>

            <hr class="mx-n3" />
            <div class="px-5 py-4">
              <button type="submit" class="btn btn-primary btn-lg">
                Agregar
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
